name: checkin_tool
description: "Tool điểm danh cho giảng viên"
publish_to: "none"

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # Database ORM & other data
  drift: ^2.28.0
  drift_flutter: ^0.2.5
  shared_preferences: ^2.5.3

  # Paths & file system
  path_provider: ^2.1.5
  path: ^1.9.1
  file_picker: ^10.3.3
  filesystem_picker: any

  # Scanning QR for quick check-in
  camera: ^0.11.3
  zxing2: ^0.2.4

  # State management
  riverpod: ^3.0.0
  flutter_riverpod: ^3.0.0

  # UIs
  flutter_gutter: ^2.2.0
  material_symbols_icons: ^4.2874.0
  permission_handler: ^12.0.1
  flutter_hooks: ^0.21.3+1
  hooks_riverpod: ^3.0.3
  excel:
    git: https://github.com/justkawal/excel
  intl: ^0.20.2
  diacritic: ^0.1.6
  mobile_scanner: ^7.2.0
  flutter_typeahead: ^5.2.0
  flex_color_scheme: ^8.4.0
  sqlite3: ^2.9.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  drift_dev: ^2.28.0
  build_runner: ^2.5.4

flutter:
  uses-material-design: true
  assets: []
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
